<h1>Band Tracker</h1>
@if(@Model["AllVenues"].Count != 0)
{
  <form action="/bands/@Model["band"].GetId()/venue" method="post">
    <label for="venue">Venue</label>
    <select name="venue">
        @foreach (var venue in Model["AllVenues"])
        {
          <option value="@venue.GetId()">@venue.GetName()</option>
        }
      </select>
    <button type="submit">Submit</button>
  </form>
}
<p><a href="/">Return Home</a></p>
