<h1>Band Tracker</h1>
<form action="/bands/new" method="post">
  <label for="name">band name</label>
  <input id="name" name="name" type="text">
  <label for="type">type of music</label>
  <input id="type" name="type" type="text">
  <button type="submit" name="button">Add</button>
</form>
<p><a href="/">Return Home</a></p>
