<h1>Band Tracker</h1>
@if(@Model["AllBands"].Count != 0)
{
  <form action="/venues/@Model["venue"].GetId()/band" method="post">
    <label for="band">band</label>
    <select name="band">
        @foreach (var band in Model["AllBands"])
        {
          <option value="@band.GetId()">@band.GetName()</option>
        }
      </select>
    <button type="submit">Submit</button>
  </form>
}
<p><a href="/">Return Home</a></p>
