<h1>Band Tracker</h1>
<form action="/venues/new" method="post">
  <label for="name">Name of the venue</label>
  <input id="name" name="name" type="text">
</br>
  <label for="location">Location</label>
  <input id="location" name="location" type="text">
</br>
  <label for="capacity">Capacity</label>
  <input id="capacity" name="capacity" type="number">
</br>
  <button type="submi" name="button">Add</button>
</form>
<p><a href="/">Return Home</a></p>
